.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* margin: 0px 20px; */
  position: relative;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 17px 7px rgba(154, 161, 171, 0.15);
  padding: 0px 20px;
}
.header > div {
  text-align: center;
  /* width: 100px; */
}
